.flexForMd {
  display: block;
}

body {
  background-color: #212529 !important;
  color: #f8f9fa!important;
}

.card .card-text, .card .card-title  {
  color: #212529 !important;
}

@media (min-width: 720px) {
  .flexForMd {
    display: flex;
    justify-content: space-between;
  }
}