body {
  font-family: 'Noto Sans', sans-serif !important;
}

.card {
  border-radius: 20px !important;
  border: none !important;
}

.flexForMd {
  display: block;
}
.relaod-btn-section {
  display: flex;
  justify-content: end;
}

.reload-btn {
  padding: 10px;
  background-color: #212529;
  color: #f8f9fa;
  border: none;
  border-top-right-radius: 10px;
}


.reload-btn:hover {
  background-color: #ffffff;
  color: #212529;
}

body {
  background-color: #212529 !important;
  color: #f8f9fa!important;
}

.card .card-text, .card .card-title  {
  color: #212529 !important;
}

@media (min-width: 720px) {
  .flexForMd {
    display: flex;
    justify-content: space-between;
  }
}